@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --blue-default: #1F2A63;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* Контейнеры */
.container {
  width: 1126px;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .container {
    width: 90vw;
    margin: 0 5vw;
  }
}

header {
  position: sticky;
  top: 0px;
  padding: 10px 0 3px 0;
  font-size: 25px;
  background-color: var(--blue-default);
  z-index: 100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-mainPage {
  padding-top: 50px;
  background: linear-gradient(#1F2A63, #17002F);
}

.section-charactersPage {
  padding-top: 28px;
}

.section-errorPage {
  background-color: #17002F;
}

/* Заголовки и текст */
h1 {
  font-size: 72px;
  font-weight: 400;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

.color-white {
  color: white;
}

.extrabold {
  font-weight: 900;
}

/* Кнопки */
.button-text {
  min-width: 160px;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #000000;
  box-shadow: 0px -9px rgba(0, 0, 0, 0.18) inset;
}

.button-orange {
  background-color: #FFC107;
}

.button-orange:hover {
  background-color: #e6a923;
}

.button-green {
  background-color: #73D677;
}

.button-green:hover {
  background-color: #59ad5c;
}

.button-invisible {
  border: none;
  cursor: pointer;
  background: none;
}

/* Flex */
.flex-row-sb-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-left-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-sb-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-sb-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-sb-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-gap-73 {
  gap: 73px;
}

.flex-gap-64 {
  gap: 64px;
}

.flex-gap-28 {
  gap: 28px;
}

.flex-gap-15 {
  gap: 15px;
}

.flex-gap-12 {
  gap: 12px;
}

.flex-gap-6 {
  gap: 6px;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Размеры */
.size-full-horizontal-percent {
  width: 100%;
}

.size-full-horizontal-pagePercent {
  width: 100vw;
}

.size-full-vertical-percent {
  height: 100%;
}

.size-full-vertical-pagePercent-withHeader {
  min-height: calc(100vh - 99px);
}

.size-full-vertical-pagePercent {
  min-height: 100vh;
}

/* Выравнивание текста */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Тени */
.shadow-default {
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.10);
}

.shadow-text-default {
  text-shadow: 4px 4px 2px rgba(33, 33, 33, 0.10);
}

/* Отдельные элементы */
/* Header elements */
.header-link {
  font-size: 25px;
  text-decoration: none;
  font-weight: 300;
}

.header-link.active::after {
  content: '';
  display: block;
  width: 90%;
  height: 3px;
  background-color: #d0d5ab;
  position: relative;
  border-radius: 5px;
  top: 10px;
  left: 5%;
}

/* Главная страница */
.mainPage-content {
  width: 100%;
  position: relative;
}

.mainPage-image {
  position: absolute;
  right: 10vw;
}

@media (max-width: 1350px) {
  .mainPage-image img {
    opacity: 0.5;
    max-width: 90vw;
  }
}

/* Фильтры */
.select-filter {
  border: none;
  min-width: 135px;
  height: 24px;
  padding: 2px 10px;
  border-radius: 5px;
}

/* Карточка персонажа */
.character-card {
  min-width: 353px;
  min-height: 137px;
  padding: 12px 26px;
  margin-bottom: 45px;
  background-color: #F0F0F0;
  border-radius: 8px;
}

.character-parameter-rounder {
  border: black solid 3px;
  border-radius: 50%;
  min-width: 38px;
  height: 38px;
}

.character-tag {
  padding: 1px 12px;
  border-radius: 11px;
  box-shadow: 0px -2px rgba(0, 0, 0, 0.18) inset;
}

.character-tag-yellow {
  background-color: #F5DB13;
}

.character-tag-pink {
  background-color: #C956FF;
}

.character-tag-green {
  background-color: #73D677;
}

.character-tag-blue {
  background-color: #07D6F2;
}

.box-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.card-details {
  width: 797px;
  height: 371px;
  background: linear-gradient(180deg, #17002F 42%, #1F2A63 100%);
  border-radius: 16px;
}

.card-details-imageBox {
  width: 365px;
  height: 371px;
  background-color: var(--blue-default);
  border-radius: 8px 0px 0px 8px;
  padding: 15px;
}

.card-details-imageBox img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-details-contentBox {
  padding: 30px 13px;
  width: 432px;
  height: 371px;
}

.box-white {
  background-color: white;
  padding: 15px 24px;
  border-radius: 8px;
}